<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smarty</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='exers.css') }}">
</head>
<body>

<div style="display: flex; flex-direction: column;">
    <div class="info-container">
        <p class="main-title-text-style" id="topicName">Тема задания</p>
        <div class="task-info-container" >
            <p class="task-count-display-style1">Количество заданий</p>
            <p class="task-count-display-style" id="taskCount"></p>
        </div>

        <button class="start-button-container" id="startButton">
            <p class="intro-text-heading">Начать</p>
        </button>
    </div>
</div>

<script>
    // Функция для извлечения параметра из URL
    function getUrlParameter(name) {
        name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
        var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
        var results = regex.exec(location.search);
        return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
    }

    // Получаем значение параметра "subtopic" из URL
    var subtopicName = getUrlParameter('subtopic');

    // Обновляем содержимое блока с id "topicName" значением subtopicName
    document.getElementById('topicName').innerText = subtopicName;

    // Находим кнопку "Начать" по её ID
    var startButton = document.getElementById('startButton');

    // Добавляем обработчик события на клик по кнопке "Начать"
    startButton.addEventListener('click', function() {
        // Перенаправляем пользователя на страницу /exersice_start с передачей названия темы в URL
        window.location.href = '/exersice_start?subtopic=' + encodeURIComponent(subtopicName);
    });

    // Функция для отправки названия темы на сервер
    function sendTopicName(topicName) {
        // Создаем объект XMLHttpRequest
        var xhr = new XMLHttpRequest();

        // Устанавливаем метод и URL для запроса
        xhr.open('POST', '/process_topic', true);

        // Устанавливаем заголовок Content-Type для указания типа отправляемых данных
        xhr.setRequestHeader('Content-Type', 'application/json');

        // Событие, срабатывающее при завершении запроса
        xhr.onload = function() {
            // Проверяем статус запроса
            if (xhr.status === 200) {
                // Действия в случае успешного ответа от сервера
                var response = JSON.parse(xhr.responseText);

                // Получаем количество заданий из ответа сервера
                var totalExercises = parseInt(response.totalExercises);

                // Проверяем, является ли totalExercises числом
                if (!isNaN(totalExercises)) {
                    // Получаем элемент с id="taskCount"
                    var taskCountElement = document.getElementById('taskCount');

                    // Устанавливаем значение текстового содержимого равным значению totalExercises
                    taskCountElement.textContent = totalExercises;
                } else {
                    console.error('Ошибка: значение totalExercises не является числом');
                }
            } else {
                // Действия в случае ошибки
                console.error('Произошла ошибка при отправке названия темы на сервер.');
            }
        };

        // Преобразуем данные в формат JSON и отправляем
        xhr.send(JSON.stringify({ topicName: topicName }));
    }

    // Вызываем функцию sendTopicName с параметром subtopicName
    sendTopicName(subtopicName);
</script>

</body>
</html>