<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <title>Smarty</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='exers.css') }}">
</head>
<body>
<div class="container fade-in">
    <div style="display: flex; flex-direction: column;">
        <div class="top-rectangle" style="display: flex; flex-direction: row;">
            <div class="empty-place"></div>
            <div class="empty-circle-top"></div>
            <div class="empty-circle-top"></div>
            <div class="empty-circle-top"></div>
        </div>
        <div style="display: flex; justify-content: center; align-items: center;">
            <div class="left-bottom-rectangle" style="margin-right: 20px; display: flex; flex-flow: column wrap;">
                <div class="left-text-box">Текст задания, например: Найти значение выражения</div>
            </div>
            <div style="display: flex; flex-direction: column;">
                <div style="display: flex; flex-direction: row;">
                    <div class="variant-box">
                        <button class="variant-text-box">7809876</button>
                    </div>
                    <div class="variant-box">
                        <button class="variant-text-box">225425</button>
                    </div>
                </div>
                <div style="display: flex; flex-direction: row;">
                    <div class="variant-box">
                        <button class="variant-text-box">727427</button>
                    </div>
                    <div class="variant-box">
                        <button class="variant-text-box">439595</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>