<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smarty</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='exers.css') }}">
</head>
<body>
<div class="container fade-in">
    <div style="display: flex; flex-direction: column;">
        <div class="top-rectangle" style="display: flex; flex-direction: row;">
            <div class="empty-place"></div>
            <div class="empty-circle-top"></div>
            <div class="empty-circle-top"></div>
            <div class="empty-circle-top"></div>
        </div>
        <div style="display: flex; justify-content: center; align-items: center;">
            <div class="left-bottom-rectangle" style="margin-right: 20px; display: flex; flex-flow: column wrap;">
                <div class="left-text-box" id="exercise-container"></div>
            </div>
            <div style="display: flex; flex-direction: column;" id="var-box-container">
                <div style="display: flex; flex-direction: row;">
                    <button class="variant-box" id="var-box-1">
                        <div class="variant-text-box" id="variant-1"></div>
                    </button>
                    <button class="variant-box" id="var-box-2">
                        <div class="variant-text-box" id="variant-2"></div>
                    </button>
                </div>
                <div style="display: flex; flex-direction: row;">
                    <button class="variant-box" id="var-box-3">
                        <div class="variant-text-box" id="variant-3"></div>
                    </button>
                    <button class="variant-box" id="var-box-4">
                        <div class="variant-text-box" id="variant-4"></div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .correct {
        background-color: #DDEFB7;
    }

    .incorrect {
        background-color: #F4A1A5;
    }
</style>

<script>
    const urlParams = new URLSearchParams(window.location.search);
    const exercise = decodeURIComponent(urlParams.get('exercise'));

    document.getElementById('exercise-container').textContent = exercise;

    let answerSelected = false;

    function loadExerciseVariants() {
        fetch('/retrieve_exercises_with_answers?exr_text=' + encodeURIComponent(exercise))
            .then(response => response.json())
            .then(data => {
                const variants = [
                    'variant-1', 'variant-2', 'variant-3', 'variant-4'
                ];

                variants.forEach((variant, index) => {
                    const variantElement = document.getElementById(variant);
                    variantElement.textContent = data[0][index + 1];
                    variantElement.setAttribute('data-answer', data[0][5]);

                    const boxElement = document.getElementById('var-box-' + (index + 1));
                    boxElement.addEventListener('click', () => checkAnswer(variantElement, boxElement));
                });
            })
            .catch(error => console.error('Ошибка загрузки вариантов ответов:', error));
    }

    loadExerciseVariants();

    function changeColor(element, isCorrect) {
        const boxElement = element.parentElement; // Получаем родительский элемент (var-box)
        if (isCorrect) {
            boxElement.style.backgroundColor = "#DDEFB7";
        } else {
            boxElement.style.backgroundColor = "#F4A1A5";
        }
    }



    function checkAnswer(element, boxElement) {
        if (answerSelected) return; // Если ответ уже выбран, ничего не делаем

        const selectedAnswer = element.textContent;
        const correctAnswer = element.getAttribute('data-answer');
        console.log('Выбранный ответ:', selectedAnswer);
        console.log('Правильный ответ:', correctAnswer);

        const isCorrect = selectedAnswer === correctAnswer;

        changeColor(element, isCorrect);
        answerSelected = true; // Устанавливаем флаг, что ответ выбран

        // Блокируем дальнейшие клики на другие варианты ответов
        const variants = [
            'variant-1', 'variant-2', 'variant-3', 'variant-4'
        ];

        variants.forEach(variant => {
            const variantElement = document.getElementById(variant);
            const boxElement = document.getElementById('var-box-' + (variants.indexOf(variant) + 1));
            variantElement.removeEventListener('click', () => checkAnswer(variantElement, boxElement));
        });

        // Получаем доступ к элементам .variant-box
        const variantBoxes = document.querySelectorAll('.variant-box');

        // Задержка перед уменьшением размера блоков (в миллисекундах)
        const delay = 1000; // Например, 1000 мс = 1 секунда

        // Уменьшаем размер блоков через заданную задержку
        setTimeout(() => {
            variantBoxes.forEach(box => {
                box.style.width = '265px'; // Уменьшаем ширину блока
                box.style.height = '185px'; // Уменьшаем высоту блока
            });
                // Находим контейнер по идентификатору
                const container = document.getElementById('var-box-container');

                // Создаем кнопку "Далее"
                const nextButtonContainer = document.createElement('button');
                nextButtonContainer.classList.add('next-button-container');

                const nextButton = document.createElement('div');
                nextButton.innerHTML = '<div class="variant-text-box-next">Далее</div>';

                nextButtonContainer.appendChild(nextButton);

                // Находим все элементы с классом "var-box"
                const varBoxes = container.querySelectorAll('.var-box');

                // Получаем последний элемент с классом "var-box"
                const lastVarBox = varBoxes[varBoxes.length - 1];

                // Вставляем кнопку "Далее" после последнего элемента с классом "var-box"
                if (lastVarBox) {
                    lastVarBox.parentNode.insertBefore(nextButtonContainer, lastVarBox.nextSibling);
                } else {
                    // Если нет элементов с классом "var-box", просто добавляем кнопку в конец контейнера
                    container.appendChild(nextButtonContainer);
                }
        }, delay);


    }


</script>

</body>
</html>