<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smarty</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='exers.css') }}">
</head>
<body>
<div>
        <div class="card-container">
            <div>
                <div class="task-status-container">
                        <div class="available-tasks">
                            <div class="task-container">
                            <p class="available-tasks-title">Упражнения по теме</p>
                            </div>
                        </div>
                    <div class="division-status-table">
                        <div class="feature-list-container">
                            <div class="fraction-operations-container" >
                                {% for exercise in exercises %}
                                    <button class="fraction-operation-card" onclick="redirectToExercise('{{ exercise[0] }}')">
                                        <div class="division-indicator">{{ exercise[0] }}</div>
                                    </button>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</body>
</html>