<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='exers.css') }}">
</head>
<body>
  <div style="display: flex; flex-direction: column;">
    <div class="info-container">
        <p class="main-title-text-style">ID ТЕМЫ</p>
        <!--<div class="task-info-container" >
            <p class="task-count-display-style1">Количество заданий</p>
            <p class="task-count-display-style" id="taskCount" data-task-count=""></p>
        </div>-->
    </div>
</div>
</body>
</html>