<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smarty</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='exers.css') }}">

</head>
<body>
    <div class="container fade-in">
        <div style="display: inline-block; width: 457px" data-ignore="used only for top most containter width">
            <div class="container">
                <h1>1</h1>
            </div>
        </div>
    </div>
    <script>
        // Функция для извлечения параметра из URL
        function getUrlParameter(name) {
            name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
            var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
            var results = regex.exec(location.search);
            return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
        }

        // Получаем значение параметра "subtopic" из URL
        var subtopicName = getUrlParameter('subtopic');

        // Если название темы уже присутствует в URL, ничего не делаем
        if (!subtopicName) {
            // Временная задержка перед перенаправлением пользователя
            setTimeout(function() {
                // Перенаправляем пользователя на страницу /exersice_text с передачей названия темы в URL
                window.location.href = '/exersice_text?subtopic=' + encodeURIComponent('Название вашей темы');
            }, 2000); // Задержка в 2000 миллисекунд (2 секунды)
        } else {
            // Если название темы уже есть в URL, перенаправляем пользователя через 2 секунды
            setTimeout(function() {
                // Перенаправляем пользователя на страницу /exersice_text с сохранением названия темы в URL
                window.location.href = '/exersice_text?subtopic=' + encodeURIComponent(subtopicName);
            }, 1000); // Задержка в 2000 миллисекунд (2 секунды)
        }
    </script>
</body>
</html>