<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smarty - Задание #</title> <!-- нужно вместо # чтобы выводился номер задания которое решаем - как сделать  это -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='exers.css') }}">
</head>
<body>
    <div class="container fade-in">
        <div style="display: inline-block; width: 457px" data-ignore="used only for top most containter width">
            <div class="container">
                <h1>1</h1>
            </div>
        </div>
    </div>
    <script>
        setTimeout(function() {
            window.location.href = '/exersice_text';
        }, 2000);
    </script>
</body>
</html>